<div class="center jumbotron">
    <h1>Team Recruiting App</h1>
    <ul>
        <% if @scouts.nil? %>
            <%# なかった時の処理 %>
            <h3>スカウト情報が見つかりませんでした。</h3>

        <% else %>
            <%= render 'search' %>
            <% @scouts.each do |scout| %>
                <div class="user_board">
                    <li><%= link_to scout.name, scout_show_path(scout.id) %></li>
                    <div class="board_info">
                        <%= scout.introduction %><%= scout.active_week %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </ul>
    <% if user_signed_in? %>
        
    <% else %>
        <%= link_to "Sign in now!", signup_path, class:"btn btn-lg btn-primary" %>
    <% end %>
</div>